@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}
.EmojiPickerReact {
  position: absolute !important;
  z-index: 100 !important;
  & button {
    min-width: unset;
  }
}
.chrome-picker {
  z-index: 100 !important;
}
.color-selector {
  position: relative;
  display: inline-block;
  /* position: relative; */

  &::after {
    content: '';
    width: 0;
    height: 0;
  }

  .hidden-update {
    position: absolute;
    opacity: 0;
  }
}

.error__button {
  width: 80px;
  height: 22px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  box-shadow: inset -1px -1px 1px black;
  &:hover:active {
    box-shadow: inset 1px 1px 1px black;
    & > * {
      transform: translate(1px, 1px);
    }
  }
}
.error__confirm {
  line-height: 11px;
}
